<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionInfo" connectionString="Server=zrodo2015.mysql.rds.aliyuncs.com;Port = 3306;Database=welfare_house;Uid=csharp;Pwd=zrodo2015;CharSet=gb2312;" providerName="mysql"/>
    <!--<add name="ConnectionInfo" connectionString="Server=www.zrodo.com.cn  ;Port = 3306;Database=foodsafe;Uid=root;Pwd=abc123;CharSet=gb2312;" providerName="mysql"/>-->
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <appSettings>
    <!--软件版本号-->
    <add key="version" value="1.0"/>
  </appSettings>
</configuration>
